body {
    background-color: #333333;
    color: 	#00ff00;
	overflow: auto;
	scroll-behavior: smooth;
}

input {
    background: none;
    border: none;
    outline: none;
    color: #00ff00;
}

/* .input-tag {
	position: fixed;
	top: 10;
}

.command-input {
	position: fixed;
	top: 10;
	margin-left: 10px;
} */